*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1A1A19;
    overflow: hidden;
    user-select: none;
    /* cursor: default; */
    font-family:  "Lexend", sans-serif;
    list-style: none;
    
}

.logo{
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-family: "Delius Swash Caps", cursive;
    font-size: 2em;
    color: white;
}

.backgroundOuter{
    position: fixed;
    width: 100vw;
    height: 100vh;

    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(100px);
    opacity: 0.6;
}

.backgroundInside{
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: aqua;
}

.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;

    background: conic-gradient(from 0deg, #FF7F3E, #859F3D, #80C4E9, #4335A7, #FF2929, #FFB200, #9ABF80);

    animation: spinBackground 8s linear infinite;
}

@keyframes spinBackground{
    0%{
        transform: rotate(0deg) scale(2);
    }

    100%{
        transform: rotate(1turn) scale(2);
    }
}

.mainScorePoint{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50em;
    user-select: none;
    cursor: default;
    opacity: .1;
    color: white;
    transition: .5s ease;
}

.scoreOpacityHigh{
    opacity: .6 !important;
    transition: .5s ease;
}

.elementContainer{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    /* opacity: 0.4;
    background-color: #000000; */
    cursor: url("../Assets/thumb.png"), auto !important;
}

.elements{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
}

.lifeLineContainer{
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lifeLineContainer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.lifeLineContainer ul li{
    font-size: 2em;
}

.mainMenuModel{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: block;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.mainMenuModel h1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Delius Swash Caps", cursive;
    font-size: 4em;
    color: white;
}

.mainMenuModel .menuContent{
    width: 50vh;
    height: 50vh;
    background-color: #1A1A19;
    border-radius: 5px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
}

.mainMenuModel .menuContent .menus{
    min-width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: transform 0.5s ease;
}

.mainMenuModel .menuContent .menus li{
    border: 1px solid rgb(184, 184, 184);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;

    border-radius: 2px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: .2s ease;
}

.mainMenuModel .menuContent .menus li:hover{
    background-color: #0a0a0a;
    /* border-radius: 10px; */
}

.mainMenuModel .menuContent .menus li span{
    font-size: 2em;
}


.showModel{
    display: block !important;
}

.hideModel{
    display: none !important;
}

.gameOverMenu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.gameOverMenu .menus{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 80rem;
}

.gameOverMenu .menus li{
    border: 1px solid rgb(184, 184, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    border-radius: 50px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: .2s ease;
}

.menus2, .menus3{
    transform: translateX(0%);
}

.menus3 .aboutli{
    padding: .5em .5em  !important;
    display: flex  !important;
    text-align: center  !important;
    border: none  !important;
    letter-spacing: .1em  !important;
}

.menus3 .aboutli:hover{
    background-color: transparent !important;
}

.menu2s{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border: 1px solid rgb(184, 184, 184);
    padding: .8em 2em;
    font-size: 2em;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.menu2s span{
    font-size: 1.5em;
}

.checkBoxInpSound[type="checkbox"],
.checkBoxInpSoundFxs[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox,
  .custom-checkboxFxs{
    position: relative;
    cursor: pointer;
  }
  
  .custom-checkbox::after,
  .custom-checkboxFxs::after {
    content: "🙊";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: transprent;
    opacity: 1;
    display:flex;
    justify-content:center;
    align-items: center;
  }

  .custom-checkboxFxs::after{
    content: "🔊";
  }
  
  .checkBoxInpSound[type="checkbox"]:checked + .custom-checkbox::after {
    content: "🙉";
    opacity: 1;
  }

  .checkBoxInpSoundFxs[type="checkbox"]:checked + .custom-checkboxFxs::after {
    content: "🔇";
    opacity: 1;
  }

  .countDownPage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 6;
  }

  .countDownPage .content,
  .countDownPage .countNumber{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
  }

  .countDownPage .content label{
    font-size: 3em;
    display: flex;
    text-align: center;
    color: #1A1A19;
    font-weight: 600;
    z-index: 1;
  }

  .countNumber{
    font-size: 40em;
    font-weight: 700;
    color: white;
    opacity: .5;
    z-index: -1;
  }